_site/
.sass-cache/
.jekyll-metadata

# Ignore everything
*

# Except
!.gitignore
!Python_Examples/Phoenix.py
!docs/*
!jees-directory/image-detection-and-classification-notes.MD

# Even in subdirectories
! */ 
