Python_Examples/video/*
scripts/*
Python_Examples/.vscode/*
Documentation/
HumanAction/
LICENSE.txt
Minecraft/*
_ffmpeg.out
_to_pngs.sh
frame_info.txt
Sample_missions/*
Schemas
.vscode/*
Python_Examples/demo.py
Python_Examples/send-to-natalia/
Python_Examples/tutorials/
Python_Examples/MalmoPython.lib
Python_Examples/MalmoPython.pyd
Python_Examples/__pycache__/
Python_Examples/train.txt
Python_Examples/zlib.dll
malmo.properties


Python_Examples/ImageAI_rsc/*
Python_Examples/colour_map_images/*
Python_Examples/bounding_boxes/*
Python_Examples/video_images/*

Python_Examples/imageai/


