Python_Examples/video/*
Python_Examples/.vscode/
Python_Examples/ImageAI_rsc/*
Python_Examples/bounding_boxes/* 
Python_Examples/colour_map_images/* 
Python_Examples/video_images/*
Python_Examples/imageai
Python_Examples/train.txt
Python_Examples/zlib.dll
Python_Examples/demo.py

docs/.jekyll-cache
docs/_site
.gitignore.swo
.gitignore.swp


Python_Examples/tutorials/
Documentation/
HumanAction/
Minecraft/
Schemas/
_ffmpeg.out
_to_pngs.sh
frame_info.txt
malmo.properties
scripts/

Python_Examples/MalmoPython.lib
Python_Examples/MalmoPython.pyd
Sample_missions/
.vscode/
LICENSE.txt
Python_Examples/__pycache__
Python_Examples/send-to-natalia

**/.DS_Store
